@charset "utf-8";
/* CSS Document */
div{
	border: 3px black solid;
	border-radius:10px;
}
#boxleft {
	height: 300px;
	width: 50px;
	background-color: red;
	float: left;
	position: absolute;
	left: 0px;
	top:0px;
}
#boxright {
	height: 300px;
	width: 50px;
	background: red;
	float: ;
	position: absolute;
	left: 0px;
	top:0px;
}
#boxtop {
	height: 50px;
	width: 300px;
	background: blue;
	float: left;
	position: absolute;
	left: 0px;
	top:0px;
}
#boxbottom {
	height: 50px;
	width: 300px;
	background: blue;
	float: left;
	position: absolute;
	left: 0px;
	top:0px;
}
